<%= form_with model: @meal_plan,
              url: meal_plan_path,
              method: (@meal_plan.persisted? ? :patch : :post),
              local: true,
              class: "w-full flex flex-col gap-4" do |f| %>

  <div class="field">
    <%= f.label :number_of_people, "Number of People", class: "block text-sm font-medium text-gray-700 mb-1" %><br>
    <%= f.number_field :number_of_people, min: 1, class: "w-full border border-black focus:border-blue focus:ring focus:ring-blue focus:ring-opacity-50 #{'border-red-500' if @meal_plan.errors[:number_of_people].any?}" %>
    <% if @meal_plan.errors[:number_of_people].any? %>
      <p class="text-red-500 text-sm mt-1"><%= @meal_plan.errors[:number_of_people].join(", ") %></p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :meals_per_week, "Meals per Week", class: "block text-sm font-medium text-gray-700 mb-1" %><br>
    <%= f.number_field :meals_per_week, min: 1, class: "w-full border border-black focus:border-blue focus:ring focus:ring-blue focus:ring-opacity-50 #{'border-red-500' if @meal_plan.errors[:meals_per_week].any?}" %>
    <% if @meal_plan.errors[:meals_per_week].any? %>
      <p class="text-red-500 text-sm mt-1"><%= @meal_plan.errors[:meals_per_week].join(", ") %></p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :start_date, "Start Date", class: "block text-sm font-medium text-gray-700 mb-1" %><br>
    <%= f.date_field :start_date, class: "w-full border border-black focus:border-blue focus:ring focus:ring-blue focus:ring-opacity-50 #{'border-red-500' if @meal_plan.errors[:start_date].any?}" %>
    <% if @meal_plan.errors[:start_date].any? %>
      <p class="text-red-500 text-sm mt-1"><%= @meal_plan.errors[:start_date].join(", ") %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit @meal_plan.persisted? ? "Update Meal Plan" : "Create Meal Plan", class: "px-4 py-2 bg-blue text-white bg-black hover:bg-gray-800 cursor-pointer transition-colors" %>
  </div>
<% end %>