<tr class="border-b last:border-b-0">
  <td class="w-20">
    <%= link_to user_recipe do %>
      <img class="object-cover h-12 w-12 sm:h-16 sm:w-16"
           src="<%= user_recipe.image_url %>"
           alt="<%= user_recipe.original_title %>">
    <% end %>
  </td>
  <td class="pl-4 py-4">
    <%= link_to user_recipe do %>
      <div class="font-semibold text-base sm:text-lg leading-normal">
        <%= user_recipe.original_title %>
      </div>
    <% end %>
  </td>
</tr>
