<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-full flex flex-col gap-2"}) do |f| %>
  <div class="field">
    <%= f.label :email, class: "block text-sm font-medium text-gray-700 mb-1" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border border-black focus:border-blue focus:ring focus:ring-blue focus:ring-opacity-50" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "block text-sm font-medium text-gray-700 mb-1" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "w-full border border-black focus:border-blue focus:ring focus:ring-blue focus:ring-opacity-50" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <label class="inline-flex items-center">
        <%= f.check_box :remember_me, class: "border-black text-blue focus:ring-blue" %>
        <span class="ml-2 text-sm text-gray-700"><%= f.label :remember_me %></span>
      </label>
    </div>
  <% end %>

  <div class="actions text-black py-2 mt-4 flex justify-center font-bold mb-4">
    <%= f.submit "Log in", class: "px-4 py-2 bg-blue text-white bg-black hover:bg-gray-800 cursor-pointer transition-colors" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>